.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 50px;
}

.rangeslider {
  background: #ffffff;
  position: relative;
}

.rangeslider--horizontal {
  height: 0.35vw;
  width: 100%;
}

.rangeslider__fill {
  background: #ffffff;
  position: absolute;
}

.rangeslider__handle {
  background: #ff473c;
  border: 0.075vw solid white;
  cursor: pointer;
  display: inline-block;
  width: 1vw;
  height: 1vw;
  position: absolute;
  border-radius: 100%;
}
.rangeslider__handle:after {
  cursor: pointer;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  cursor: pointer;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -0.35vw;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: 0px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
