
:root {
  --main-color: ;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 1.5vw;
  text-decoration: underline;
}

body {
  margin: 1.5vw;
  background: var(--main-color);
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  top: 10%;
  /* left: 20%; */
  left: 20.25%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* font-family: 'SFMOMADisplayBold'; */
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 5vw;
}

.container {
  position: absolute;
  top: 57%;
  left: 78%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  border: 0.05vw solid white;
  background-color: transparent;
  padding: 0.45vw 1.5vw 0.5vw 1.5vw;
  font-size: 1vw;
  cursor: pointer;
  font-family: Helvetica;
  /* font-family: Helvetica;
  font-weight: normal; */
  color: white;
}

#button000 {
  padding: 5vw 0.75vw 0.25vw 0.75vw;
  font-size: 1vw;
}

#button002 {
  margin-left: 2vw;
}

#button003 {
  display: none;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: white;
}

button:active {
  transform: translateY(0.25vw);
}

.buttons {
  margin-top: 10%;
}

input {
  border: 0.05vw solid white;
  width: 4.5vw;
  background-color: transparent;
  padding: 0.25vw 0.3vw 0.25vw 0.75vw;
  font-size: 1vw;
  /* cursor: pointer; */
  font-family: Helvetica;
  color: white;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  color: white;
  font-family: Helvetica;
  /* font-family: Helvetica;
  font-weight: normal; */
  font-size: 1.125vw;
  position: absolute;
  top: 16.5%;
  left: 4.75%
}

li {
  width: 22.75%;
}

p {
  display: inline;
  margin: 0;
  margin-top: 5vw;
  margin-left: 0.5vw;
}

#sliderP {
  display: block;
  padding-top: 1.75vw;
  margin-top: 0.5vw;
  margin-left: 0;
  margin-bottom: 1vw;
}

#sliderOne {
  display: block;
  padding-top: 1.5vw;
  margin-top: 0.5vw;
  margin-left: 0;
  margin-bottom: 1vw;
}

#textList {
  width: 51.25%;
}

#text {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.125vw;
  margin-left: 0;
  margin-top: 0.25vw;
  margin-bottom: 1vw;
  line-height: 1.625vw;
}

#line {
  font-family: Helvetica;
  font-size: 1.125vw;
  margin-bottom: 1vw;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(87px, 0vw));
  grid-auto-rows: 73px;
} */

#squares {
  display: grid;
  grid-template-columns: repeat(5, minmax(6.75vw, 0vw));
  grid-auto-rows: 5.5vw;
}


#squares::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#squares> :first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


/* Just to make the grid visible */
#squares > * {
  background: #ffffff;
  margin: 0.5px;
}

#squaresTwo {
  z-index: -100;
  position: absolute;
  top:0%;
  display: grid;
  grid-template-columns: repeat(5, minmax(86.25px, 0vw));
  grid-auto-rows: 70.25px;
}

#squaresTwo::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#squaresTwo> :first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */
#squaresTwo > * {
  margin: 0.5px;
}

#sfmoma {
width: 8.5%;
margin-top: 1.25%;
position: absolute;
float: right;
left: 116vw;
  /* display: none; */
}


/******** MEDIA QUERY ********/
/* $small: 576px;
$medium: 768px;
$large: 992px;
$largeplus: 1024px; */
@media only screen and (max-width: 576px)  {
  ul {
    display: none;
  }
  .header {
    width: 100%;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 14vw;
  }

  #squaresTwo {
    display: none;
  }

  .container {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #squares {
    display: grid;
    grid-template-columns: repeat(5, minmax(17.75vw, 0px));
    grid-auto-rows: 15.5vw;
  }

  button {
    border: 0.25vw solid white;
    background-color:transparent;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 4vw;
    cursor: pointer;
    font-family: Helvetica;
    color: white;
  }

  button:active {
    transform: translateY(1.75vw);
  }

  #button003 {
    margin-left: 10vw;
    display: inline;
    padding: 2vw 7vw 2vw 7vw;
  }

  .download {
    display: none;
  }

  #sfmoma {
    display: none;
  }
}
