/******** FONTS ********/

@font-face {
  font-family: 'SFMOMADisplayRegular';
  src: url("../fonts/SFMOMADisplayRegular.eot");
  src: url("../fonts/SFMOMADisplayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFMOMADisplayRegular.woff2") format("woff2"), url("../fonts/SFMOMADisplayRegular.woff") format("woff"), url("../fonts/SFMOMADisplayRegular.ttf") format("truetype"), url("../fonts/SFMOMADisplayRegular.svg#SFMOMADisplayRegular") format("svg");
}

@font-face {
  font-family: 'SFMOMADisplayBold';
  src: url("../fonts/SFMOMADisplayBold.eot");
  src: url("../fonts/SFMOMADisplayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFMOMADisplayBold.woff2") format("woff2"), url("../fonts/SFMOMADisplayBold.woff") format("woff"), url("../fonts/SFMOMADisplayBold.ttf") format("truetype"), url("../fonts/SFMOMADisplayBold.svg#SFMOMADisplayBold") format("svg");
}

@font-face {
  font-family: 'SFMOMADisplayLight';
  src: url("../fonts/SFMOMADisplayLight.eot");
  src: url("../fonts/SFMOMADisplayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFMOMADisplayLight.woff2") format("woff2"), url("../fonts/SFMOMADisplayLight.woff") format("woff"), url("../fonts/SFMOMADisplayLight.ttf") format("truetype"), url("../fonts/SFMOMADisplayLight.svg#SFMOMADisplayLight") format("svg");
}


/******** END FONTS ********/

:root {
  --main-color: ;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  text-decoration: underline;
}

body {
  margin: 1.5vw;
  background: var(--main-color);
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'SFMOMADisplayBold';
  color: #ffffff;
  font-size: 5vw;
}

.container {
  position: absolute;
  top: 55.5%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  border: 0.05vw solid white;
  background-color: transparent;
  padding: 0.25vw 2vw 0.5vw 2vw;
  font-size: 1vw;
  cursor: pointer;
  font-family: 'SFMOMADisplayRegular';
  color: white;
}

#button000 {
  padding: 0.25vw 0.75vw 0.25vw 0.75vw;
  font-size: 1vw;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: white;
}

.buttons {
  margin-top: 10%;
}

.text {
  width: 50%;
}

ul {
  list-style: none;
  padding: 0;
  color: white;
  font-family: 'SFMOMADisplayRegular';
  font-size: 1.125vw;
  position: absolute;
  top: 16.5%;
  left: 4.75%
}

li {
  width: 22.75%;
}

p {
  display: inline;
  margin: 0;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
}

#sliderP {
  display: block;
  padding-top: 2vw;
  margin-top: 0.5vw;
  margin-left: 0;
  margin-bottom: 1vw;
}

#textList {
  width: 52%;
}

#text {
  font-family: 'SFMOMADisplayLight';
  font-size: 1.125vw;
  margin-left: 0;
  margin-bottom: 1vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(6.75vw, 0px));
  grid-auto-rows: 5.5vw;
}


/* .grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(87px, 0px));
  grid-auto-rows: 73px;
} */

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid> :first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


/* Just to make the grid visible */

.grid>* {
  background: #ffffff;
  margin: 0.5px;
}

#sfmoma {
  margin-top: 30%;
  width: 30%;
}


/******** MEDIA QUERY ********/
@media   (max-width: 600px) {
  ul {
    display: none !important;
  }
  .header {
    width: 100%;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'SFMOMADisplayBold';
    color: #ffffff;
    font-size: 14vw;
  }

  .container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(17.75vw, 0px));
    grid-auto-rows: 15.5vw;
  }

  button {
    border: 0.05vw solid white;
    background-color:transparent;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 4vw;
    cursor: pointer;
    font-family: 'SFMOMADisplayRegular';
    color: white;
  }

  .download {
    display: none;
  }
}
